<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.house.mapper.MoneyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="Money" type="com.house.pojo.Money">
        <id column="money_id" property="moneyId"/>
        <result column="money_user" property="moneyUser"/>
        <result column="money_house" property="moneyHouse"/>
        <result column="money_month" property="moneyMonth"/>
        <result column="money_money" property="moneyMoney"/>
        <association property="user" javaType="com.house.pojo.User">
            <id column="id" property="id"/>
            <result column="username" property="username"/>
            <result column="password" property="password"/>
            <result column="name" property="name"/>
            <result column="mobile" property="mobile"/>
            <result column="card" property="card"/>
            <result column="age" property="age"/>
            <result column="sex" property="sex"/>
            <result column="money" property="money"/>
            <result column="role" property="role"/>
        </association>
        <association property="house" javaType="com.house.pojo.House">
            <id column="house_id" property="houseId"/>
            <result column="house_name" property="houseName"/>
            <result column="house_area" property="houseArea"/>
            <result column="house_address" property="houseAddress"/>
            <result column="house_price" property="housePrice"/>
            <result column="house_price" property="houseUser"/>
            <result column="house_content" property="houseContent"/>
            <result column="house_state" property="houseState"/>
            <result column="house_comment" property="houseComment"/>
            <result column="house_img" property="houseImg"/>
        </association>
    </resultMap>
    <select id="getList" parameterType="com.house.pojo.Page" resultMap="Money">
        select * from h_money
        inner join h_user on money_user = id
        inner join h_house on money_house = house_id
        <where>
            <if test="params.userId !=null and params.userId!=''">
                and id = #{params.userId}
            </if>
            <if test="params.company!=null and params.company!=''">
                and house_user = #{params.company}
            </if>
            <if test="params.moneyMonth!=null and params.moneyMonth!=''">
                and money_month = #{params.moneyMonth}
            </if>
            <if test="params.userName!=null and params.userName !=''">
                and name like '%${params.userName}%'
            </if>
            <if test="params.houseName!=null and params.houseName!=''">
                and house_name like '%${params.houseName}%'
            </if>
        </where>
        order by money_month desc
        limit #{index}, #{currentCount}
    </select>
    <select id="getCount" parameterType="com.house.pojo.Page" resultType="java.lang.Integer">
        select count(*) from h_money
        inner join h_user on money_user = id
        inner join h_house on money_house = house_id
        <where>
            <if test="params.userId !=null and params.userId!=''">
                and id = #{params.userId}
            </if>
            <if test="params.company!=null and params.company!=''">
                and house_user = #{params.company}
            </if>
            <if test="params.moneyMonth!=null and params.moneyMonth!=''">
                and money_month = #{params.moneyMonth}
            </if>
            <if test="params.userName!=null and params.userName !=''">
                and name like '%${params.userName}%'
            </if>
            <if test="params.houseName!=null and params.houseName!=''">
                and house_name like '%${params.houseName}%'
            </if>
        </where>
    </select>

</mapper>
